<!-- views/Giriş.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giriş</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Giriş</h2>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <% if (typeof error !== 'undefined') { %>
        <p class="error"><%= error %></p>
      <% } %>
      <button type="submit">Giriş</button>
    </form>
	    <p class="footer-text">Veritabanı hareketsizlik durumunda 20 dakikada bir uykuya geçmektedir. Bir sonraki sorguda uyanması 1 dakikaya kadar sürebilir</p> <!-- Footer text -->
  </div>
</body>
</html>
